@import "./src/index.scss";

.travel_advice {
    padding-top: 70px;


    // h2 {
    //     text-align: center;
    //     margin-bottom: 30px;
    //     font-weight: bold;
    //     text-transform: uppercase;
        
    //     position: relative;
    //     display: table;
    //     width: auto;
    //     margin: 0 auto 45px;
    //     letter-spacing: 2px;

    //     &::before {
    //         content: "";
    //         position: absolute;
    //         top: -50%;
    //         left: -25px;
    //         width: 30px;
    //         height: 20px;
    //         border-top: 2px solid coral;
    //         border-left: 2px solid coral;
    //       }

    //       &:after {
    //         content: "";
    //         position: absolute;
    //         bottom: -50%;
    //         right: -25px;
    //         width: 30px;
    //         height: 20px;
    //         border-bottom: 2px solid coral;
    //         border-right: 2px solid coral;
    //       }
        
       
    // }

    .background_mount {
        height: 2000px;
    }
    img {
        object-fit: cover;
        object-position: center;
        width: 100%;

    }
    .advice_blog {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 70px;
        clear: both;
        padding-left: 3%;  
        // list-style-position: inside;
        list-style: none;
      }

    .advice_card {
        box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.7);
        background-color: rgb(238, 236, 235);
        padding: 15px 15px;
        width: 60%;
        position: relative;
        margin: 2em 0;
        display: block;
        counter-increment: inst;
        z-index: 50;
        &_left {
            align-self: flex-start;
            @include appearLeftAnim(1000ms);
        }

        &_right {
            align-self: flex-end;
            @include appearRightAnim(1000ms);
        }


        &::before {
            content: counter(inst);
            
            background: rgba(255, 127, 80, 0.35);
            color: #fff;
            
            font-size: 3.5rem;
            font-weight: 700;
            font-style: italic;
            text-shadow: 1px 1px rgba(255, 127, 80, 0.5);
            
            border-radius: 50%;
            // font-size: 1.5em;
            text-align: center;
            
            // padding-top: 0;
            // padding-left: 0;
            left: 15px;
            top: 10px;
            height: 4.25rem;
            width: 4.25rem;
            position: absolute;
            
            transition: all 0.2s ease-in-out;
            
            z-index: -1;
          }
        .advice_card_number {
            float: left;
        //     color: rgb(9, 19, 15);
            height: 4rem;
            width: 4.75rem;
            background-color: transparent;

        }
        .advice_card_title {
            margin-bottom: 10px;
           font-size: 24px;
           font-weight: 600;
        }
        .advice_card_text {
            font-size: 1rem;
            line-height: 1.5rem;
        }

    }

}

