.home_destinations {
  padding-top: 70px;
  padding-bottom: 70px;
  .container {
    padding-bottom: 30px;

    position: relative;
  }

.desc_destin {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 0.1em;
    font-weight: 500;
    text-transform: uppercase;
    color: #1e1e1e;
}

  .home_destinations_li {
    display: flex;
    justify-content: center;
  }

  
}